nav {
    float: right;
    background-color: #f3f3f3;
    padding: 20px;
    margin: 10px;
}

nav a:hover {
    background-color: #ffffff;
}

nav a {
    border-right: 1px solid #000000;
}

img {
    display: block;
    border-radius: 50%;
    width: 150px;
}